#works_index {
  header.top {
    display:flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid;
    width: 100%;
    height: 50px;
    padding:20px 0px 10px 20px;
    position:fixed;
    background-color: #FFFFFF;
    .title {
      margin-left: 20px;
      padding-top: 10px;
    }
    a {
      &.prev {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 50px;
        height: 15px;
        text-align: center;
        border: 1px solid;
        border-color: #aaaaaa #444444 #444444 #aaaaaa;
      }
      &.next {
        margin-left: -1px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 50px;
        height: 15px;
        text-align: center;
        border: 1px solid;
        border-color: #aaaaaa #444444 #444444 #aaaaaa;
      }
    }
  }
  .calendar {
    padding: 120px 20px 0px 20px;
    min-width: 500px;
    header {
      height: 50px;
      display:flex;
      flex-flow: row wrap;
      p {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        padding: 10px 0px 0px 10px;
        width: calc((100% - 84px) / 7);
        &:last-child {
          color: #ff0000;
        }
        &:nth-last-child(2) {
          color: #0000ff;
        }
      }
    }
    .calendar-day {
      display:flex;
      flex-flow: row wrap;
      .day {
        border: 1px solid;
        margin: -1px 0px 0px -1px;
        padding: 10px 0px 0px 10px;
        width: calc((100% - 84px) / 7);
        min-height: 60px;
        &.settled {
          background-color: #eaeaea;
        }
      }
    }
  }
}
#works_new {
  header.top {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid;
    width: 100%;
    height: 50px;
    padding: 20px 0px 10px 20px;
    position: fixed;
    background-color: #FFFFFF;
    button {
      margin-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 80px;
      height: 40px;
      text-align: center;
      border: 1px solid;
      border-color: #cccccc;
      font-weight: bold;
      background-color: #f5f5f5;
      &.save {
        background-color: #ff0000;
        color: #ffffff;
      }
    }
  }
  .work-contents{
    padding: 100px 20px 0px 20px;
    min-width: 800px;
    .contents-details{
      textarea{
        padding: 10px;
        width: 60%;
        min-height: 200px;
      }
    }
    .work-datetime{
      min-width: 700px;
      margin-top: 10px;
      input[type="time"]{
        margin-left: 10px;
      }
      .separator{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    .option{
      #chkRepeat{
        margin-top: 10px;
        margin-right: 10px;
      }
    }
  }
}
